[Unit]
Description=Email temperature warnings
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /usr/local/bin/warning.py

[Install]
WantedBy=multi-user.target
